{{!-- in this file we will send the new user data via method="post"  see below in the <form></form>--}}
{{!-- Once the button is submitted, the Name and Lastname will be send to the http://localhost:3700/user/add route POST --}}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 50%; margin-left: 20px">
        <h3> Add new user</h3>
    </nav>
    <form action="http://localhost:3700/user/add" method="post" style="margin-left: 20px; width: 50%">
        <input type="hidden" name="userID" value="">
        <div class="form-group">
            <input type="text" class="form-control" name="userName" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="userLastName" placeholder="Last Name">
        </div>
        <button type="submit" class="btn btn-outline-info" style="width: 30%">Submit</button>
    </form>

</body>

</html>